.card-deck {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.card {
    width: 30%;
    margin: 1%;
    transition: background-color 0.5s ease-in-out;
}

.card:hover {
    background-color: #eee;
}


