<div class="h-100 flex-column d-flex align-items-center justify-content-center">
    <h2>Connect to Profil Hunt with Maiar</h2>
    <qrcode [allowEmptyString]="true" [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <h3>OR</h3>
    <div class="d-flex">
        <button nzSize="large" class="btn-connect d-block mx-4 text-light" (click)="authExtension()" nzShape="round" nz-button nzType="primary">
            <span nz-icon nzType="api" nzTheme="outline"></span>
            Maiar Extension
        </button>
        <button nzSize="large" class="btn-connect d-block mx-4 text-light" (click)="authWebWallet()" nzShape="round" nz-button nzType="primary">
            <span nz-icon nzType="cloud" nzTheme="outline"></span> 
            Web Wallet
        </button>
    </div>
</div>