<div class="mt-5 mx-auto w-75 p-3 justify-content-center">
    <!-- <h5 class="mx-5">Research #{{research.id}}</h5> -->
      <div *ngIf="!isSpinning">
          <ng-lottie style="align-items: center; display: flex; justify-content: center;" [options]="options"   width="500px"
        height="600px"
        ></ng-lottie>
          <h2 class="mt-5 text-center">Hunt' is looking please wait...</h2>
        </div>
        <app-graph [graph]="graph" *ngIf="isSpinning"></app-graph>
    <!-- <app-graph [graph]="graph"></app-graph> -->
</div>