.logo {
    width: 50px;
    margin: 0px;
}

:host::ng-deep {

    .ant-menu-horizontal>.ant-menu-item::after,
    .ant-menu-horizontal>.ant-menu-submenu::after {
        left: 0px;
        right: 0px;
    }

    .ant-menu-horizontal {
        line-height: 55px;
    }
}

.nav-header {
    box-shadow: 0px 6px 15px 1px rgba(0, 0, 0, 0.15);
    height: 80px;
    font-size: 16px;
}

.btn-connect-dashboard {
    background-color: rgb(20, 178, 160);
    border: none;
}

.is-selected {
    color: #5878a7 !important;
}
.is-not-selected {
    color: grey;
}

img {
    width: 14em;
    margin-left: 2em;
}