<div class="nav-header align-items-center d-flex justify-content-between mb-4 mb-md-0">
    <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/">
            <img src="assets/img/profil-hunt3.png" alt="image1" />

            <!-- <div class="mx-4">PROFIL HUNT</div> -->
        </a>
        <div class="mx-5"></div>
        <div>
            <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="is-selected"
                class="is-not-selected mx-md-4 mx-1 sailec text-black">Home</a>
            <a routerLink="/price" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="is-selected"
                class="is-not-selected mx-md-4 mx-1 sailec text-black">Pricing</a>
            <a routerLink="/about" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="is-selected"
                class="is-not-selected mx-md-4 mx-1 sailec text-black">About us</a>
        </div>
    </div>
    <div class="d-flex">
        <button *ngIf="!isLogin()" class="btn-connect d-block mx-4 text-light" nzShape="round" nz-button
            nzType="primary" routerLink="/auth/login">Connect to HUNT</button>

        <button *ngIf="isLogin()" class="btn-connect-dashboard d-block mx-4 text-light" routerLink="/dashboard" nzShape="round"
            nz-button nzType="primary">Go Hunt</button>
        <button *ngIf="isLogin()" class="btn-connect d-block mx-4 text-light" (click)="logout()" nzShape="round"
            nz-button nzType="primary">Logout</button>
    </div>
</div>