.anticon {
    font-size: 24px;
    cursor: pointer;
}

.ant-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    color: rgba(0, 0, 0, 0.85);
    background-color: #cecedd;
    padding: 16px;
    border-radius: 7px;
}