[nz-menu] {
    //width: 240px;
    height: 100%;
    min-height: 94vh;
    width: 14vw;
  }
  
  .ant-layout-sider {
    position: relative;
    min-width: 0;
    background: #fff;
    width: 240px !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-color: #fff !important;
  }

  