<div class="mt-5 mx-auto w-50 p-3 justify-content-center">
  <h3 class="text-center">Retrieve information linked to an first name and last name.</h3>
  <input class="mt-3" nz-input placeholder="First name" [(ngModel)]="fnValue" />
  <input class="mt-2" nz-input placeholder="Last name" [(ngModel)]="lnValue" />
  <div class="mt-3"></div>
  <span>Add params to complete the research, separate by ","</span>
  <input nz-input placeholder="Lyon, information, France" [(ngModel)]="paramsValue" />
  <button class="mt-5" nzSize="large" nz-button nzType="primary" (click)="loadOne()" [nzLoading]="isLoadingOne">
    <span nz-icon nzType="poweroff"></span>
    Start searching
  </button>
</div>