// @font-face {
//     font-family: "font1";
//     src: url(assets/fonts/font1.woff2);
// }

// * {
//     font-family: "font1";
//     font-size: 105%;
// }

@font-face {
    font-family: "Odudo";
    src: url(assets/fonts/Odudo-SemiBold.otf);
}

* {
    font-family: "Odudo";
    font-size: 105%;
}
