<app-header></app-header>
<div class="mx-auto d-flex mt-5 w-75 align-items-center justify-content-center">
  <div>
    <div>
      <h3>Profil' Hunt</h3>
      <p class="mt-4">Bienvenue sur notre site web dédié à <span style="color: rgb(20, 80, 184)">l'osint </span>(Open
        Source Intelligence). Nous sommes passionnés
        par la collecte
        et <span style="color: rgb(20, 80, 184)">l'analyse de données</span> ouvertes sur internet et avons créé ce site
        pour partager notre connaissance et nos
        astuces avec vous.</p>

      <p>Que vous soyez <span style="color: rgb(20, 80, 184)">un professionnel de l'intelligence, un journaliste, un
          chercheur </span>un professionnel de l'intelligence, un journaliste, un chercheur ou simplement curieux d'en
        savoir plus sur cette discipline, vous trouverez sur notre site de nombreuses informations et outils pour vous
        aider dans vos recherches.</p>

      <p>Vous y trouverez des articles explicatifs sur les différentes techniques d'osint, des tutoriels pour utiliser
        les outils les plus populaires, des actualités sur le sujet et bien plus encore.</p>

      <p>Nous espérons que vous apprécierez votre visite et que vous y trouverez de précieuses informations. N'hésitez
        pas à nous contacter si vous avez des questions ou des suggestions d'articles à publier.</p>

      <div class="d-flex">
        <button nz-button nzType="primary" nzSize="large" nzShape="round">
          Get started
        </button>
        <div class="mx-3"></div>
        <button nz-button nzType="default" nzSize="large"  routerLink="/about">Learn more about us</button>
      </div>
      <nz-alert class="mt-5" nzType="warning" nzMessage="Les recherches de hunt"
        nzDescription="Toute les recherches de cet outil sont public, l'outils à pour but de montrer les dangers de mettre trop d'information en ligne, 
        il est important de se montrer vigilant quant à la quantité d'informations personnelles que l'on met en ligne.
         En effet, mettre trop d'informations sur internet peut être dangereux pour votre vie privée et votre sécurité." nzShowIcon></nz-alert>

    </div>
  </div>
  <div class="mx-5"></div>
  <ng-lottie [options]="options" width="500px" height="500px"></ng-lottie>
  <!-- <img src="assets/img/profil-hunt2.png" alt="image1" /> -->
</div>