nz-graph {
  height: 50em;
  background-color: red;
}

// :host::ng-deep {
//   .nz-graph-nodes .nz-graph-node-rect {
//     background-color: red !important;
//     stroke: red !important;
// }

:host::ng-deep {
  .nz-graph-edges .nz-graph-edge path {
    fill: none;
    stroke-linecap: butt;
    stroke-width: 2;
  }

  .nz-graph {
    width: 1000px;
    height: 500px;
    background-color: rgb(255, 255, 255) !important;
  }

  .nz-graph-edge {
      color: red !important;
  }
}

.graph-node {
  border: 1px solid #8cc8ff;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 0;
  text-align: center;
  word-break: break-all;
  display: block;
}

.group-node {
  border-width: 4px;
}

.leaf-node {
  color: #1a90ff;
  background: rgba(26, 144, 255, 0.15);
  min-height: 50px;
  height: fit-content;
}

.title {
  word-break: keep-all;
}